version: "3.9"

services:
  users-api:
    build:
      context: ./users-api
    container_name: users-api
    ports:
      - "8000:8000"
    environment:
      - NOTIFICATION_URL=http://notification-service:5001/notify

  notification-service:
    build:
      context: ./notification-service
    container_name: notification-service
    ports:
      - "5001:5001"
    environment:
      - SMTP_SERVER=smtp.gmail.com
      - SMTP_PORT=587
      - EMAIL_ADDRESS=katherine.pedreira@estudiantes.utec.edu.uy
      - EMAIL_PASSWORD=bbrjllpvjtbarsvk

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - users-api

