
apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
      - name: users-api
        image: katherinepedreira/users-api:v2
        ports:
        - containerPort: 8000
        env:
        - name: NOTIFICATION_URL
          value: "http://notification-service:5001/notify"

